Repository SavioNicodemos/lets-solve: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npm run lint

types:
  run: npm run ts:check

fix: remove cycle dependency
  src/queries/mutations/auth.ts
  src/services/api.ts
Due: lint, types

refactor: extract useComplaint hook
  src/app/(app)/ad/index.tsx
  src/hooks/useComplaint.ts
Due: lint, types

refactor: params to create ad page
  src/app/(app)/ad/create.tsx
Due: lint

refactor: params and navigation between pages
  src/app/(app)/ad/index.tsx
  src/app/(app)/ad/my.tsx
  src/app/(app)/ad/preview.tsx
  src/app/(app)/index.tsx
Due: lint

refactor: add centralized hook for toast
  src/app/(app)/ad/create.tsx
  src/app/(app)/ad/index.tsx
  src/app/(app)/ad/preview.tsx
  src/app/sign-up.tsx
  src/components/ErrorBoundary.tsx
  src/components/UploadPicturesContainer.tsx
  src/hooks/useToast.ts
Due: lint, types

feat: create base component to CommentsSection
  src/components/AdDetails.tsx
  src/components/CommentItem.tsx
  src/components/CommentSection.tsx
Due: lint

feat: add formatter to convert date on relative string
  package-lock.json
  package.json
  src/utils/helpers/dates.ts
Due: lint, types

feat: make comments accept dynamic data
  src/components/AdDetails.tsx
  src/components/CommentItem.tsx
  src/components/CommentSection.tsx
  src/dtos/ComplaintDTO.ts
Due: lint, types

chore: update deps
  package-lock.json
  package.json
Due: none

feat: create add comment component
  .eslintrc.json
  src/components/AdDetails.tsx
  src/components/AddComment.tsx
  src/components/CommentSection.tsx
  src/dtos/ComplaintDTO.ts
  src/queries/mutations/solves.ts
Due: lint, types

refactor: change comments DTO
  src/components/AdDetails.tsx
  src/components/CommentItem.tsx
  src/dtos/CommentDTO.ts
  src/dtos/ComplaintDTO.ts
  src/queries/mutations/solves.ts
Due: lint, types

feat: create useInfiniteComments hook
  src/components/CommentSection.tsx
  src/dtos/RequestsDTO.ts
  src/hooks/useInfiniteComments.ts
  src/queries/solves.ts
Due: lint, types

feat: add skeleton to comments loading
  src/components/CommentItem.tsx
  src/components/CommentSection.tsx
Due: lint

fix: refetch items on send comment
  src/components/AddComment.tsx
Due: lint

feat: add animation on add or remove comments
  src/components/CommentItem.tsx
Due: lint

fix: image dtos to new avatar_url
  src/app/(app)/ad/preview.tsx
  src/app/(app)/index.tsx
  src/app/(app)/profile.tsx
  src/components/AdDetails.tsx
  src/components/AddComment.tsx
  src/components/AvatarUpload.tsx
  src/components/CommentItem.tsx
  src/components/UserPhoto.tsx
  src/dtos/CommentDTO.ts
  src/dtos/ComplaintDTO.ts
  src/dtos/UserDTO.ts
  src/storage/__tests__/storageUser.test.ts
Due: lint, types

fix: adjust types according API's
  src/app/(app)/ad/create.tsx
  src/app/(app)/ad/my.tsx
  src/app/(app)/ad/preview.tsx
  src/components/AdCard.tsx
  src/components/AvatarUpload.tsx
  src/components/ImageCarousel.tsx
  src/components/UploadPicturesContainer.tsx
  src/dtos/ComplaintDTO.ts
  src/dtos/ComplaintStatusDTO.ts
  src/queries/solves.ts
Due: lint, types

refactor: remove unused code
  src/components/FiltersModal.tsx
  src/dtos/ComplaintDTO.ts
  src/dtos/FiltersDTO.ts
  src/queries/solves.ts
  src/utils/helpers/__tests__/conditions.test.ts
  src/utils/helpers/conditions.ts
Due: lint, types

fix: user icon placement
  src/components/AdCard.tsx
Due: lint

chore: update deps
  package-lock.json
Due: none

feat: create evaluation of complaint
  src/app/(app)/ad/index.tsx
  src/components/ComplaintEvaluationModal.tsx
  src/components/ScoreSelector.tsx
  src/dtos/ComplaintDTO.ts
  src/queries/mutations/solves.ts
  src/queries/solves.ts
  src/utils/handleError.ts
Due: lint, types

test: fix suite for handleError
  src/utils/__tests__/handleError.test.ts
Due: lint, types

refactor: fix DTO of getComplaint
  src/app/(app)/ad/create.tsx
  src/app/(app)/ad/index.tsx
  src/app/(app)/ad/preview.tsx
  src/app/(app)/index.tsx
  src/components/AdDetails.tsx
  src/dtos/ComplaintDTO.ts
  src/queries/solves.ts
Due: lint, types

feat: disable comments and menu when status is resolved
  src/app/(app)/ad/index.tsx
  src/app/(app)/ad/preview.tsx
  src/components/AdDetails.tsx
  src/dtos/ComplaintStatusDTO.ts
Due: lint, types

fix: refactor preview screen to show images and save new complaint
  package-lock.json
  package.json
  src/app/(app)/ad/create.tsx
  src/app/(app)/ad/preview.tsx
  src/stores/useCreateComplaint.ts
Due: lint, types

chore: install FlashList
  package-lock.json
  package.json
Due: none

feat: create useGroups hook
  src/dtos/GroupDTO.ts
  src/hooks/useGroups.ts
  src/queries/groups.ts
Due: lint, types

feat: create settingsItem component
  src/components/SettingsItem.tsx
Due: lint

refactor: profile page
  src/app/(app)/profile.tsx
  src/components/Header.tsx
Due: lint

feat: create groups screen
  src/app/(app)/groups/index.tsx
  src/components/GroupItem.tsx
Due: lint

style: adjust UserDTO
  src/dtos/ComplaintDTO.ts
  src/dtos/UserDTO.ts
Due: lint, types

feat: auto-adjust iconSize on AvatarUpload component
  src/components/AvatarUpload.tsx
Due: lint

feat: add LeftIconComponent to Header
  src/components/Header.tsx
Due: lint

feat: create useGroup hook
  src/dtos/GroupDTO.ts
  src/hooks/useGroup.ts
  src/queries/groups.ts
Due: lint, types

feat: create GroupDetails page
  src/app/(app)/groups/[id].tsx
  src/app/(app)/groups/index.tsx
  src/app/(app)/index.tsx
  src/components/AvatarUpload.tsx
  src/components/GroupItem.tsx
  src/components/UserItem.tsx
  src/components/UsersInGroupSection.tsx
  src/hooks/useGroup.ts
Due: lint, types

feat: create UsersInvitedSection
  src/app/(app)/groups/[id].tsx
  src/components/UserItem.tsx
  src/components/UsersInvitedSection.tsx
  src/dtos/GroupDTO.ts
  src/hooks/mutations/useDeleteGroupInvite.ts
  src/hooks/mutations/useSendGroupInvite.ts
  src/hooks/useGroup.ts
  src/hooks/useInvitedUsers.ts
  src/queries/groups.ts
  src/queries/mutations/groups.ts
Due: lint, types

refactor: groups details screen to use mutations
  src/app/(app)/groups/[id].tsx
  src/components/UsersInGroupSection.tsx
  src/hooks/mutations/useDeleteGroupInvite.ts
  src/hooks/mutations/useRemoveUserFromGroup.ts
  src/hooks/mutations/useSendGroupInvite.ts
  src/hooks/mutations/useUpdateGroup.ts
  src/queries/mutations/groups.ts
Due: lint, types

refactor: rename types on IGroupDTO
  src/app/(app)/groups/[id].tsx
  src/components/GroupItem.tsx
  src/components/UsersInGroupSection.tsx
  src/dtos/GroupDTO.ts
  src/queries/groups.ts
Due: lint, types

feat: add api routes
  src/dtos/GroupDTO.ts
  src/dtos/GroupInviteDTO.ts
  src/queries/groups.ts
  src/queries/mutations/groups.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
