Repository SavioNicodemos/lets-solve: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npm run lint

types:
  run: npm run ts:check

feat: clear field when invite user
  src/components/UsersInvitedSection.tsx
Due: lint

fix: redirect to my complaints
  src/app/(app)/index.tsx
Due: lint

refactor: query hooks to revalidate cache automatically
  src/hooks/mutations/useDeleteGroupInvite.ts
  src/hooks/mutations/useRemoveUserFromGroup.ts
  src/hooks/mutations/useSendGroupInvite.ts
  src/hooks/useGroup.ts
Due: lint, types

refactor: group details and components
  src/app/(app)/groups/[id].tsx
  src/components/UsersInGroupSection.tsx
  src/components/UsersInvitedSection.tsx
Due: lint

feat: add function to create group
  src/app/(app)/groups/create.tsx
  src/app/(app)/groups/index.tsx
  src/components/Header.tsx
  src/hooks/mutations/useCreateGroup.ts
  src/schemas/Image.ts
Due: lint, types

feat: add invites from groups section
  src/app/(app)/groups/index.tsx
  src/components/InvitesSection.tsx
  src/components/ListDivider.tsx
  src/dtos/GroupDTO.ts
  src/hooks/mutations/useManageGroupInvite.ts
  src/hooks/useGroupInvites.ts
  src/queries/groups.ts
  src/queries/mutations/groups.ts
Due: lint, types

fix: add key to inviteOptions
  src/components/InvitesSection.tsx
Due: lint

fix: hide remove user icon from normal participant
  src/app/(app)/groups/[id].tsx
  src/components/UsersInGroupSection.tsx
  src/hooks/mutations/useRemoveUserFromGroup.ts
Due: lint, types

fix: refresh token workflow
  src/contexts/AuthContext.tsx
  src/services/api.ts
Due: lint, types

feat: add main group selector
  src/app/(app)/index.tsx
  src/app/_layout.tsx
  src/components/GroupItem.tsx
  src/components/GroupSelector.tsx
  src/hooks/useSelectedGroup.ts
  src/queries/groups.ts
  src/queries/mutations/groups.ts
Due: lint, types

chore: update deps
  package-lock.json
Due: none

style: rename to system defaults
  src/app/(app)/index.tsx
  src/app/(app)/solves/create.tsx
  src/app/(app)/solves/index.tsx
  src/app/(app)/solves/my.tsx
  src/app/(app)/solves/preview.tsx
  src/app/sign-in.tsx
  src/components/ImageCarousel.tsx
  src/components/RenderComplaint.tsx
  src/components/SolveCard.tsx
  src/components/SolveDetails.tsx
  src/dtos/ComplaintDTO.ts
  src/queries/mutations/solves.ts
  src/queries/solves.ts
Due: lint, types

fix: invitedUsers crashing when no invites
  src/components/UserItem.tsx
  src/components/UsersInvitedSection.tsx
  src/hooks/useInvitedUsers.ts
Due: lint, types

feat: only access when you have an group selected
  src/app/(app)/groups/index.tsx
  src/app/(app)/profile.tsx
  src/components/Header.tsx
  src/contexts/AuthContext.tsx
Due: lint

fix: redirect to groups when no group
  src/app/(app)/index.tsx
  src/app/(app)/solves/_layout.tsx
Due: lint

chore: update deps
  package-lock.json
  package.json
Due: none

fix: redirection flow
  src/contexts/AuthContext.tsx
Due: lint

fix: change fallback order of back button
  src/app/(app)/groups/[id].tsx
  src/app/(app)/groups/create.tsx
  src/app/(app)/groups/index.tsx
  src/app/(app)/profile.tsx
  src/components/Header.tsx
Due: lint

refactor: extract function to upload complaint images
  src/app/(app)/solves/create.tsx
  src/app/(app)/solves/preview.tsx
  src/queries/mutations/solves.ts
Due: lint, types

fix: add default group selection in AuthContext
  src/contexts/AuthContext.tsx
Due: lint

refactor: remove cycle dependencies
  src/app/_layout.tsx
  src/contexts/AuthContext.tsx
  src/contexts/ReactQueryContext.tsx
Due: lint

fix: useSelectedGroup hook to use ReactQueryContext
  src/hooks/useSelectedGroup.ts
Due: lint, types

feat: add group_id to createComplaint request
  src/app/(app)/solves/preview.tsx
  src/queries/mutations/solves.ts
Due: lint, types

feat: add group_id to solves queries
  src/queries/solves.ts
Due: lint, types

feat: extract solves and mySolves in separated hooks
  src/app/(app)/index.tsx
  src/app/(app)/solves/my.tsx
  src/hooks/useMySolves.ts
  src/hooks/useSelectedGroup.ts
  src/hooks/useSolves.ts
Due: lint, types

fix: errorBoundary for screens
  src/app/(app)/solves/index.tsx
  src/components/ErrorBoundary.tsx
Due: lint

style: change style of open a resolve button
  src/app/(app)/index.tsx
Due: lint

fix: types on public complaints response
  src/app/(app)/index.tsx
  src/contexts/AuthContext.tsx
  src/dtos/ComplaintDTO.ts
  src/queries/solves.ts
Due: lint, types

feat: remove 'tel' from user properties
  src/app/(app)/profile.tsx
  src/app/sign-up.tsx
  src/dtos/UserDTO.ts
  src/queries/mutations/auth.ts
  src/storage/__tests__/storageUser.test.ts
Due: lint, types

feat: add state filter on my complaints
  src/app/(app)/index.tsx
  src/app/(app)/solves/my.tsx
  src/dtos/ComplaintDTO.ts
  src/hooks/useMySolves.ts
  src/queries/solves.ts
Due: lint, types

style: add mutation hooks to own folder
  src/app/(app)/groups/[id].tsx
  src/app/(app)/groups/index.tsx
  src/app/(app)/index.tsx
  src/app/(app)/profile.tsx
  src/app/(app)/solves/_layout.tsx
  src/app/(app)/solves/create.tsx
  src/app/(app)/solves/index.tsx
  src/app/(app)/solves/my.tsx
  src/app/(app)/solves/preview.tsx
  src/components/AddComment.tsx
  src/components/CommentSection.tsx
  src/components/GroupSelector.tsx
  src/components/InvitesSection.tsx
  src/components/UsersInvitedSection.tsx
  src/hooks/mutations/useAddComment.ts
  src/hooks/mutations/useDeleteGroupInvite.ts
  src/hooks/mutations/useManageGroupInvite.ts
  src/hooks/mutations/useRemoveUserFromGroup.ts
  src/hooks/mutations/useSendGroupInvite.ts
  src/hooks/mutations/useSubmitEvaluation.ts
  src/hooks/queries/useComplaint.ts
  src/hooks/queries/useGroup.ts
  src/hooks/queries/useGroupInvites.ts
  src/hooks/queries/useGroups.ts
  src/hooks/queries/useInfiniteComments.ts
  src/hooks/queries/useInvitedUsers.ts
  src/hooks/queries/useMySolves.ts
  src/hooks/queries/useSelectedGroup.ts
  src/hooks/queries/useSolves.ts
Due: lint, types

chore: rename project
  app.json
  package-lock.json
  package.json
  src/storage/storageConfig.ts
Due: lint, types

fix: calling api when not authenticated
  src/contexts/AuthContext.tsx
Due: lint

feat: add loading to login button
  src/app/sign-in.tsx
  src/components/Button.tsx
Due: lint

refactor: sign-up screen and add loading to create button
  src/app/sign-up.tsx
  src/hooks/mutations/useCreateUser.ts
  src/schemas/user.ts
Due: lint, types

feat: add group as selected as soon as we create a new one
  src/app/(app)/groups/create.tsx
Due: lint

feat: create flow for update password
  src/app/password/change.tsx
  src/app/password/forgot.tsx
  src/app/sign-in.tsx
  src/components/Input.tsx
  src/hooks/mutations/useUpdatePassword.ts
  src/hooks/queries/useValidatePasswordToken.ts
  src/queries/auth.ts
  src/schemas/user.ts
  src/services/api.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
